<app-header></app-header>
<div class="container my-12 px-6 h-auto mx-auto flex flex-col items-center">

  <!-- Section: Design Block -->
  <section class="mb-4 text-gray-800 text-center md:text-left">

    <h2 class="text-3xl font-bold mb-4 text-center">Servicios Ofrecidos</h2>
    <hr>
    <div class="grid md:grid-cols-2 gap-x-6 mt-8 xl:gap-x-12 items-center mb-12">
      <div class="mb-6 md:mb-0">
        <div
          class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          data-mdb-ripple="true" data-mdb-ripple-color="light">
          <img src="https://previews.123rf.com/images/luchschen/luchschen1508/luchschen150800044/44321123-equipos-de-laboratorio-de-qu%C3%ADmica-f%C3%ADsica.jpg"
            class="w-full" alt="Louvre" />
          <a href="#!">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
              style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </a>
        </div>
      </div>

      <div class="mb-6 md:mb-0">
        <h3 class="text-2xl font-bold mb-3">Prestamo de Equipos</h3>
        <div class="mb-3 text-red-600 font-medium text-sm flex items-center justify-center md:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
          </svg>Cliente
        </div>
        <p class="text-gray-500 mb-6">
          <small>Quimica, Fisica, Fisica Aplicada, Fisica Teorica, etc.</small>
        </p>
        <p class="text-gray-500">
          Enfocamos nuestros equipos para que el usuario pueda realizar las practicas y poner a prueba
           el conocimiento teorico a un nivel profesional y empresarial.
        </p>
      </div>
    </div>

  </section>
  <!-- Section: Design Block -->
  <button type="button" routerLink="/" class="inline-block w-auto px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Empezar</button>

</div>

<app-footer></app-footer>
